body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/originals/62/0d/18/620d18c9ebe7ac8dd378da4ea37bebab.jpg'); /* Ganti URL dengan URL gambar yang ingin Anda gunakan */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 50%;
  margin: 50px auto;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Transparan background agar gambar latar belakang terlihat */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type='text'],
input[type='email'],
input[type='tel'],
button {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
